html{
    font-family: 'Montserrat', sans-serif;
    margin: none;
}
/* Inline Styling Such as Hyperlinks */

a{
    text-decoration: none;
}

/* Navbar Styling */
.Navbar{
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: #777;
    padding: 1rem;
    margin: -8px;
    margin-bottom: 0px;
}

.Navbar a{
    text-decoration: none;
    font-weight: 500;
    color: #000;
    padding: 1rem;
}

.Navbar a:hover{
    background-color: #2E86C1;
    color: #fff;
}
/* End Navbar */


/* Video and Video Text Styling */
video{
    width: 110%;
    margin-left: -8px;  
    display: block;
    backface-visibility: hidden;
    filter: grayscale(50%);
}

.Video_Text{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.Row{
    margin: -8px;
    display: flex;
}

.Column_1{
    flex: 50%;
    background-color: #999;
    padding: 1rem;
}

.Column_2{
    padding: 1rem;
    flex: 50%;
    background-color: #eee;
}

.Column_3{
    flex: 50%;
    background-attachment: #999;
}

